* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #111;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.block {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #111;
  width:8px;
  height: 8px;
  margin: 1px;
  transition: 3s ease;
}
.block:hover {
  transition-duration: 0s;
}
